@{
    ViewBag.Title = "Home Page";
}
<!-- Start Banner -->
<div class="ulockd-home-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="pogoSlider" id="js-main-slider">
                <div class="pogoSlider-slide" style="background-image: url('../../Content/images/slide_img.jpg');">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text white_fonts">
                                    <h3>Programadores y diseñadores<br><strong>Garantia</strong></h3>
                                    <br>
                                    <a class="start_exchange_bt" href="exchange.html">Start Exchange ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide" style=" background-image:  url('../../Content/images/slide_img.jpg')">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text white_fonts">
                                    <h3>Sertificion Internacional<br><strong>ISO-9001</strong></h3>
                                    <br>
                                    <a class="start_exchange_bt" href="exchange.html">Start Exchange ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .pogoSlider -->
        </div>
    </div>
</div>
<!-- End Banner -->
<!-- section -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="full text_align_right_img">
                    <img src="@Url.Content("~/Content/images/img1.jpg")" />
                </div>
            </div>
            <div class="col-md-6 layout_padding">
                <div class="full paddding_left_15">
                    <div class="heading_main text_align_left">
                        <h2><span class="theme_color">Bienvenido</span> A la Web</h2>
                    </div>
                </div>
                <div class="full paddding_left_15">
                    <p>Aquí podras encontrar información sobre lo que hacemos y como lo hacesmos, ademas de poder aprender sobre nosotros y contratratar nuestros trabajos o trabajamos personales</p>
                </div>
                <div class="full paddding_left_15">
                    <a class="main_bt" href="#">Leer más></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
                        <h2><span class="theme_color"></span>Servicios</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="full services_blog">
                    <img class="img-responsive" src="@Url.Content("~/Content/images/s1.png")" />
                    <h4>Barato y seguro</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="full services_blog">
                    <img class="img-responsive" src="@Url.Content("~/Content/images/s2.png")" />
                    <h4>Web & Movil</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="full services_blog">
                    <img class="img-responsive" src="@Url.Content("~/Content/images/s3.png")" />
                    <h4>Economico</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="full services_blog">
                    <img class="img-responsive" src="@Url.Content("~/Content/images/s4.jpg")" />
                    <h4>Soporte tecnico</h4>
                </div>
            </div>
        </div>
        <div class="row margin-top_30">
            <div class="col-sm-12">
                <div class="full">
                    <div class="center">
                        <a class="main_bt" href="#">Leer más ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section white_fonts" style="background: #2a2a2a;">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="background: #fff;">
                <div class="full text_align_right_img">
                    <img src="@Url.Content("~/Content/images/img2.jpg")" />
                </div>
            </div>
            <div class="col-md-6 layout_padding">
                <div class="full paddding_left_15">
                    <div class="heading_main text_align_left">
                        <h2><span class="theme_color">Mucha Mayor</span> Seguridad</h2>
                    </div>
                </div>
                <div class="full paddding_left_15">
                    <p>Nuestra empresa cuenta con una mayor seguridad que otras empresas, ya que contamos con sertificación de una ISO-9001 para garantizar la estabilidad de nuestros sitemas, al igual que nuestros  trabajadores cuentan con un alto grado de sertificación y años de experiencia y trato con clientes</p>
                </div>
                <div class="full paddding_left_15">
                    <a class="main_bt" href="#">Que es ISO-9001></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section layout_padding about_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="full paddding_left_15">
                    <div class="heading_main text_align_left">
                        <h2>Hacerca de...</h2>
                    </div>
                </div>
                <div class="full paddding_left_15">
                    <p>Nuestra empresa es una empresa conocida por el trato de cliente-trabajador, este para que nuestros clientes tengan una mejor idea y un mejor seguimiento a los proyectos que estos requieren.</p>
                </div>
                <div class="full paddding_left_15">
                    <a class="main_bt" href="#">Leer más ></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="full text_align_right_img">
                    <img src="@Url.Content("~/Content/images/img3.jpg")" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section layout_padding padding_top_0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
                        <h2><span class="theme_color"></span>Ayuda</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="full news_blog">
                    <img class="img-responsive" src="@Url.Content("~/Content/images/b1.jpg")" />
                    <div class="overlay"><a class="main_bt transparent" href="#">View</a></div>
                    <div class="blog_details">
                        <h3>Metodo de contacto</h3>
                        <p>Puede contactarnos por nuestro correo electronico o por el número de telefono y nosotros le brindaremos la ayuda que necesite</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="full news_blog">
                    <img class="img-responsive" src="@Url.Content("~/Content/images/b2.jpg")" />
                    <div class="overlay"><a class="main_bt transparent" href="#">View</a></div>
                    <div class="blog_details">
                        <h3>Metodo de pago</h3>
                        <p>Nuestro metodo de pago es via tarjeta bancaria, donde usted puede depositarnos desde donde le sea más comodo</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="full news_blog">
                    <img class="img-responsive" src="@Url.Content("~/Content/images/b3.png")" />
                    <div class="overlay"><a class="main_bt transparent" href="#">View</a></div>
                    <div class="blog_details">
                        <h3>Cotización</h3>
                        <p>Puede enviarnos un correo electronico con su propuesta de aplicación y nuestro equípo se pondra en contacto con usted para un trato más directo y mejor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section layout_padding padding_top_0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
                        <h2><span class="theme_color"></span>Contacta tu proyecto</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- contact_form -->
<div class="section contact_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 offset-lg-3">
                <div class="full">
                    <form class="contact_form_inner" action="#">
                        <fieldset>
                            <div class="field">
                                <input type="text" name="Nombre" placeholder="Your name" />
                            </div>
                            <div class="field">
                                <input type="email" name="Correo electronico" placeholder="Email" />
                            </div>
                            <div class="field">
                                <input type="text" name="Número de celular" placeholder="Phone number" />
                            </div>
                            <div class="field">
                                <textarea placeholder="Idea de proyecto"></textarea>
                            </div>
                            <div class="field center">
                                <button>Enviar</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end contact_form -->